@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600;700&display=swap');

html {
  height: calc(100vh - 1px);
}

body {
  background-color: #BC865C;
  font-family: 'Overpass', sans-serif;
  text-transform: uppercase;
}

.menu {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 25px;
  top: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 84vh;
  margin: 8vh 40px;
  
  .content {
    padding:0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 1px solid white;
  
    .item-1, .item-2{
      display: flex;
      flex-direction: column;
      gap: 20px;
      transform: scaleY(0.80);
    }

    .item-1 {
      align-items: flex-start;
      padding: 20px 40px 40px;
    }

    .item-2 {
      
      align-items: flex-end;
      margin-top: auto;
      padding: 60px 60px 30px;
    }
  }
  .title {
    width: 100%;
    background-color: white;
    color: #BC865C;
    border-radius: 0 0 25px 25px ;
    
    h1 {
      margin: 20px 0 15px;
      text-align: center;
      font-size: 30px;
      font-weight: 600;
    }

  }
}

a {
  text-decoration: none;
  color: white ;
}

a:hover {
  color: #FCC006;
}

@media screen and (max-width: 500px) {
  .item-1 {
    align-items: center !important;
    margin: auto 0 0 0 !important;
    text-align: center;
  }

  .item-2 {
    align-items: center !important;
    margin: 0 0 auto 0 !important;
    text-align: center;
  }

}
